<p>
  <strong>Title:</strong>
  <%= @inventory.title %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @inventory.qty %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
